.product{
  border: .5rem solid rgb(32, 31, 31);
  display: inline-block;
  width: 250px;
  height: 350px;
  margin-left: 2rem;
  margin-right:2rem;
  margin-top: 2rem;
}

.image{
  margin-top: 1rem;
  border-radius: 10px;
}